:root{
    --theme-text: rgb(255,255,255); 
    --theme-bg: linear-gradient(
        135deg,
        rgb(19, 19, 67),
        rgb(30, 18, 92),
        rgb(49, 25, 120),
        rgb(69, 27, 114)
    );
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: var(--theme-bg);
    color: var(--theme-text);
    font-family: 'digital';
}

/********************/
/*******HEADER*******/
/********************/

header{
    width: inherit;
    height: 20vh;
    height: 20dvh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/********************/
/*******TITLE********/
/********************/

header h1{
    text-align: center;
    font-size: clamp(1rem,5vw,3rem);
    margin-top: 200px;
}

/********************/
/******SE. CLOCK*****/
/********************/

#selecting-clock-container{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(1rem,3vw,2.5rem);
    
    border: 2px solid white;
    border-radius: 20px;
    
    padding: 2vw;
    margin: 50px auto;
}

.selection-arrow{
    border-radius: 20px;
    padding: 15px;
    border: 2px solid white;
    text-align: center;
    transition: transform ease 0.2s;
    cursor: pointer;
}

.selection-arrow:hover{
    transform: scale(1.1);
}

#clock-selected{
    margin: 0 20px;
}

#clock-selected::selection{
    background: transparent;
    color: inherit;
}

/********************/
/*******CLOCKS*******/
/********************/

main{
    height: 80vh;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock{
    margin: 10px auto;
}

#digital-clock{
    font-size: clamp(2rem,10vw,7.5rem);
}

#analog-clock{
    border-radius: 9999px;
    aspect-ratio: 1/1;
    width: clamp(5em, 50vw, 30em);
    border: 2px solid white;
}

/********************/
/********OTHER*******/
/********************/

.hidden{
    display: none;
}

::selection{
    background: transparent;
}