:root{
    --theme-text: rgb(255,255,255); 
    --theme-bg: linear-gradient(
        135deg,
        rgb(19, 19, 67),
        rgb(30, 18, 92),
        rgb(49, 25, 120),
        rgb(69, 27, 114)
    );

    --widthAnalogClock: clamp(100px,min(40vw,40dvh),450px);
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: var(--theme-bg);
    color: var(--theme-text);
    font-family: 'digital';
}

/********************/
/*******HEADER*******/
/********************/

header{
    width: inherit;
    height: 20vh;
    height: 20dvh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

/********************/
/*******TITLE********/
/********************/

header h1{
    text-align: center;
    font-size: clamp(1rem,5vw,3rem);
    margin-top: 200px;
}

/********************/
/******SE. CLOCK*****/
/********************/

#selecting-clock-container{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(0.5rem,2vw,2.5rem);
    
    border: 2px solid white;
    border-radius: 20px;
    
    padding: 2vw;
    margin: 50px auto;
}

.selection-arrow{
    border-radius: 20px;
    padding: 15px;
    border: 2px solid white;
    text-align: center;
    transition: transform ease 0.2s;
    cursor: pointer;
}

.selection-arrow:hover{
    transform: scale(1.1);
}

#clock-selected{
    margin: 0 20px;
}

#clock-selected::selection{
    background: transparent;
    color: inherit;
}

/********************/
/*******CLOCKS*******/
/********************/

main{
    margin-top: 5vh;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock{
    margin: 10px auto;
}

#digital-clock{
    font-size: clamp(2rem,10vw,7.5rem);
}

#analog-clock{
    border-radius: 9999px;
    aspect-ratio: 1/1;
    width: var(--widthAnalogClock);
    border: 8px solid black;
    background-color: white;
    align-items: center;
    display: flex;
}

.arrow-clock,#center-point{
    position: absolute;
    left: 50%;
    transform-origin: left center;
    background: black;
    transition: transform 0.5s ease;
    border-radius: 4px;
}

#center-point{
    padding: 7px;
    z-index: 4;
    border-radius: 7px;
    transform: translateX(-7px);
}

#sec-arrow{
    padding: 1px calc(var(--widthAnalogClock)*0.22);
    z-index: 1;
}

#min-arrow{
    padding: 3px calc(var(--widthAnalogClock)*0.20);
    z-index: 2;
}

#hou-arrow{
    padding: 4px calc(var(--widthAnalogClock)*0.1);
    z-index: 3;
}

.arrows-mini{
    background: black;
    border-radius: 2px;
    position:absolute;
    transform: translate(-50%, -50%);
}

.hours-arrows-mini{
    padding: 7px calc(var(--widthAnalogClock)*0.015);
}

.minutes-arrows-mini{
    padding: 6px calc(var(--widthAnalogClock)*0.003);
}

.hour-number{
    font-size: clamp(0.5rem,1.5vw,1.3rem);
    position: absolute;
    color: black;
    font-weight: bolder;
}

/********************/
/********OTHER*******/
/********************/

.hidden{
    display: none !important;
}

::selection{
    background: transparent;
}

/********************/
/********MEDIA*******/
/********************/

@media (max-height:832px){
    header{
        flex-direction: row;
    }

    header h1{
        margin-top: 50px;
    }

    .selection-arrow{
        padding: 5px;
        border: none;
    }
}